<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Google+ - AnimeTracker</title>
    <link href="/static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <a href="/" class="link_home"></a>
    </div>
    <div class="main">
        <div class="signup_form">
            <form method="post">
                <div class="signup_form_top">
                    <b>Immagine profilo:</b><br>
                    <img type="image" src="{{image}}" />
                    <br><br>
                    <input type="text" value="{{image}}" name="image_url" hidden>
                </div>
                <div class="signup_form_bottom">
                    <input class="field" type="number" name="id_account"
                           placeholder="id" value="{{id_account}}" hidden>
                    <br>

                    <b>Nome:</b><br>
                    <input class="field" type="text" name="firstname"
                           placeholder="Nome" value="{{nome}}">
                    <br>
                    {% if nome_err %}
                        <span class="error_message">* {{nome_err}}</span><br>
                    {% endif %}

                    <b>Cognome:</b><br>
                    <input class="field" type="text" name="lastname"
                           placeholder="Cognome" value="{{cognome}}"><br>
                    {% if cognome_err %}
                        <span class="error_message">* {{cognome_err}}</span><br>
                    {% endif %}

                    <b>Email:</b><br>
                    <input class="field" type="text" name="email"
                           placeholder="Email" value="{{email}}"><br>
                    {% if email_err %}
                        <span class="error_message">* {{email_err}}</span><br>
                    {% endif %}

                    <b>Username:</b><br>
                    <input class="field" type="text" name="username"
                           placeholder="Username" value="{{username}}"><br>
                    {% if username_err %}
                        <span class="error_message">* {{username_err}}</span><br>
                    {% endif %}
                    <br><br>
                    <input class="confirm_sign_up" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>